Cluster analysis

Peercobaan

In [102]:
import pandas as pd
from sklearn.cluster import KMeans

dataset = pd.read_csv('C:\Hagan\Matakuliah\Semester 3\Mesin Pembelajaran/Project/9/ruspini.csv')
data = dataset.loc[:,['X', 'Y']]
clustering = KMeans(n_clusters=4, init="random", n_init=1)
clusters=clustering.fit_predict(data)

print('\nHasil clustering:\n', clusters)
print('\nSSE = :\n', clustering.inertia_)

Hasil clustering:
 [1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3]

SSE = :
 12881.051236146634

Assignment

dataset ïƒŸ test.csv untuk data Mobile Price, dan tampilkan

In [103]:
dataset_test = pd.read_csv('C:\Hagan\Matakuliah\Semester 3\Mesin Pembelajaran/Project/9/test.csv')
dataset_test

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,1700,1,1.9,0,0,1,54,0.5,170,...,17,644,913,2121,14,8,15,1,1,0
996,997,609,0,1.8,1,0,0,13,0.9,186,...,2,1152,1632,1933,8,1,19,0,1,1
997,998,1185,0,1.4,0,1,1,8,0.5,80,...,12,477,825,1223,5,0,14,1,0,0
998,999,1533,1,0.5,1,0,0,50,0.4,171,...,12,38,832,2509,15,11,6,0,1,0
999,1000,1270,1,0.5,0,4,1,35,0.1,140,...,19,457,608,2828,9,2,3,1,0,1

datatraining ïƒŸ training.csv untuk data Mobile Price,
pilihlah 5, 6,7 atribut yang paling berpengaruh

In [104]:
import numpy as np
import pandas as pd
dataset_train = pd.read_csv('C:\Hagan\Matakuliah\Semester 3\Mesin Pembelajaran/Project/9/train.csv')
datalabel = np.array(dataset_train)[:,-1]
dataset_train=dataset_train.drop(['price_range'],axis=1)
dataset_train

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [105]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

chi2_selector = SelectKBest(chi2, k=5) 
chi2_selector.fit(dataset_train, datalabel)

cols = chi2_selector.get_support(indices=True)
df_selected_features1 = dataset_train.iloc[:,cols]
df_selected_features1.head()

   battery_power  mobile_wt  px_height  px_width   ram
0            842        188         20       756  2549
1           1021        136        905      1988  2631
2            563        145       1263      1716  2603
3            615        131       1216      1786  2769
4           1821        141       1208      1212  1411

6 fitur

In [106]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

chi2_selector = SelectKBest(chi2, k=6) 
chi2_selector.fit(dataset_train, datalabel)

cols = chi2_selector.get_support(indices=True)
df_selected_features2 = dataset_train.iloc[:,cols]
df_selected_features2.head()

   battery_power  int_memory  mobile_wt  px_height  px_width   ram
0            842           7        188         20       756  2549
1           1021          53        136        905      1988  2631
2            563          41        145       1263      1716  2603
3            615          10        131       1216      1786  2769
4           1821          44        141       1208      1212  1411

7 fitur

In [107]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

chi2_selector = SelectKBest(chi2, k=7) 
chi2_selector.fit(dataset_train, datalabel)

cols = chi2_selector.get_support(indices=True)
df_selected_features3 = dataset_train.iloc[:,cols]
df_selected_features3.head()

   battery_power  int_memory  mobile_wt  px_height  px_width   ram  sc_w
0            842           7        188         20       756  2549     7
1           1021          53        136        905      1988  2631     3
2            563          41        145       1263      1716  2603     2
3            615          10        131       1216      1786  2769     8
4           1821          44        141       1208      1212  1411     2

testing

In [108]:
dataset_test = pd.read_csv('C:\Hagan\Matakuliah\Semester 3\Mesin Pembelajaran/Project/9/test.csv')
dataset_test

,id,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,1700,1,1.9,0,0,1,54,0.5,170,...,17,644,913,2121,14,8,15,1,1,0
996,997,609,0,1.8,1,0,0,13,0.9,186,...,2,1152,1632,1933,8,1,19,0,1,1
997,998,1185,0,1.4,0,1,1,8,0.5,80,...,12,477,825,1223,5,0,14,1,0,0
998,999,1533,1,0.5,1,0,0,50,0.4,171,...,12,38,832,2509,15,11,6,0,1,0
999,1000,1270,1,0.5,0,4,1,35,0.1,140,...,19,457,608,2828,9,2,3,1,0,1

5 fitur

In [109]:
df_selected_features_5 = dataset_test[['battery_power',	'mobile_wt',	'px_height',	'px_width',	'ram']]
df_selected_features_5

     battery_power  mobile_wt  px_height  px_width   ram
0             1043        193        226      1412  3476
1              841        191        746       857  3895
2             1807        186       1270      1366  2396
3             1546         96        295      1752  3893
4             1434        108        749       810  1773
..             ...        ...        ...       ...   ...
995           1700        170        644       913  2121
996            609        186       1152      1632  1933
997           1185         80        477       825  1223
998           1533        171         38       832  2509
999           1270        140        457       608  2828

[1000 rows x 5 columns]

In [110]:
test_data = np.array(df_selected_features_5)
newmin = 0
newmax = 1
mindata = test_data.min()
maxdata = test_data.max()
test_data_5 = ((test_data - mindata)*(newmax - newmin)/(maxdata - mindata)) + newmin
test_data_5 = pd.DataFrame(test_data_5)

In [111]:
import pandas as pd
from sklearn.cluster import KMeans
inertia = []
for i in range(10):
    clustering = KMeans(n_clusters=3, init="random", n_init=1)
    clusters=clustering.fit_predict(test_data_5)
    inertia.append(clustering.inertia_)

inertia_selected_5 = min(inertia)
print('\nHasil clustering:\n', clusters)
print('\nSSE = :\n', inertia_selected_5)

Hasil clustering:
 [0 0 1 0 1 0 0 1 0 2 0 0 2 2 0 2 1 1 0 1 2 0 1 1 0 2 1 2 0 2 1 2 0 2 2 1 0
 1 0 1 2 0 2 2 2 2 1 0 1 0 1 2 0 1 0 2 0 2 1 0 0 0 1 1 2 1 2 0 1 1 1 1 0 0
 0 2 0 2 1 0 2 0 0 2 0 2 0 1 0 2 1 1 0 2 0 1 2 1 1 0 1 2 2 0 1 1 2 2 0 0 0
 0 1 0 0 0 0 1 0 2 2 0 0 1 1 2 0 0 0 2 2 1 1 1 0 1 1 2 0 0 1 0 1 1 0 0 0 0
 1 0 0 0 2 2 0 1 0 0 0 0 0 0 0 0 0 0 2 2 0 2 2 2 1 2 2 1 2 2 1 1 2 2 2 2 0
 0 1 1 2 2 2 2 2 0 1 2 0 1 0 0 1 0 0 0 0 1 0 2 2 1 1 0 1 0 0 0 2 0 2 0 0 0
 0 2 2 1 2 0 2 1 2 0 1 2 0 2 0 2 0 1 1 2 2 0 1 0 0 0 1 1 0 2 2 0 0 0 1 0 1
 2 0 1 1 0 0 0 0 1 2 1 1 0 1 1 0 1 2 0 2 1 1 2 2 0 0 0 0 0 1 0 1 1 0 1 1 2
 1 2 0 0 1 2 2 0 2 0 2 1 1 2 1 0 1 0 1 0 2 0 2 2 2 2 0 1 2 2 2 0 1 1 0 0 1
 0 0 0 0 1 0 0 0 0 0 0 0 2 0 2 0 1 0 1 0 0 2 1 1 0 1 0 1 0 2 2 2 2 0 2 1 1
 1 1 1 0 0 2 1 2 2 0 0 1 0 1 1 0 1 1 0 1 1 0 0 1 1 2 1 2 2 0 0 2 2 1 2 2 2
 2 2 2 2 1 1 0 1 0 2 0 1 0 2 1 2 1 1 2 0 0 0 0 2 0 1 0 1 0 1 1 0 1 1 1 2 2
 2 1 1 1 2 0 0 1 0 0 2 2 0 1 1 2 0 1 0 2 0 1 1 0 0 0 2 1 2 1 0 2 1 1 2 2 1
 1 1 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 1 0 1 2 1 0 2 1 2 0 1 2 0 1 0 2 0 2 0 0
 2 0 2 0 0 2 1 1 0 0 1 2 0 0 0 2 0 1 0 2 0 0 2 1 0 0 0 2 1 1 0 1 0 0 0 1 2
 1 2 0 1 2 0 1 0 1 2 0 0 0 1 0 0 1 1 1 0 0 0 1 2 1 1 1 0 1 1 2 0 0 0 1 2 0
 1 0 0 2 1 0 1 1 1 2 2 2 1 2 2 1 2 1 1 2 0 0 1 2 0 2 2 0 0 2 2 2 2 2 0 2 0
 2 0 1 1 0 0 2 1 1 0 1 0 1 2 0 2 1 1 0 2 1 1 2 1 0 2 0 2 0 0 1 1 0 1 2 1 0
 2 0 0 2 1 1 1 0 2 0 0 2 0 0 0 2 2 0 2 1 1 0 1 1 1 0 1 1 0 2 1 2 1 0 1 2 2
 1 2 2 0 2 1 1 2 1 1 2 0 2 0 0 0 2 2 1 1 1 1 2 1 1 2 1 1 2 2 0 0 1 0 1 0 0
 2 1 2 1 1 2 0 1 2 0 2 1 2 0 0 0 1 0 2 0 1 2 1 2 0 0 1 2 1 1 0 1 2 0 0 1 0
 1 1 1 2 1 0 1 1 1 0 2 2 1 1 2 0 2 2 2 2 0 0 0 0 2 1 1 1 1 2 2 0 1 2 1 2 1
 0 0 1 0 2 1 1 0 2 2 0 1 0 2 2 1 1 1 1 0 0 1 2 2 0 0 2 0 2 2 2 1 1 2 0 2 0
 1 1 1 0 0 2 1 1 0 2 0 0 2 1 0 1 1 0 1 0 0 1 1 1 1 0 0 2 0 0 2 0 0 1 1 1 0
 1 1 1 1 2 1 1 1 1 0 1 1 1 2 2 1 0 2 2 1 1 0 1 2 2 0 0 0 0 2 0 0 0 1 0 1 1
 0 1 1 1 1 0 0 2 0 2 0 0 2 0 1 0 0 1 1 0 0 1 2 1 1 0 1 0 2 1 1 2 0 0 0 0 2
 1 2 2 1 0 0 0 2 0 1 0 2 0 2 1 0 2 1 2 2 0 1 1 2 1 2 2 0 0 0 1 2 2 1 1 2 1
 0]

SSE = :
 44.01731591897129

6 fitur

In [112]:
df_selected_features_6 = dataset_test[['battery_power',	'int_memory',	'mobile_wt',	'px_height',	'px_width',	'ram']]
df_selected_features_6

     battery_power  int_memory  mobile_wt  px_height  px_width   ram
0             1043           5        193        226      1412  3476
1              841          61        191        746       857  3895
2             1807          27        186       1270      1366  2396
3             1546          25         96        295      1752  3893
4             1434          49        108        749       810  1773
..             ...         ...        ...        ...       ...   ...
995           1700          54        170        644       913  2121
996            609          13        186       1152      1632  1933
997           1185           8         80        477       825  1223
998           1533          50        171         38       832  2509
999           1270          35        140        457       608  2828

[1000 rows x 6 columns]

In [113]:
test_data = np.array(df_selected_features_6)
newmin = 0
newmax = 1
mindata = test_data.min()
maxdata = test_data.max()
test_data_6 = ((test_data - mindata)*(newmax - newmin)/(maxdata - mindata)) + newmin
test_data_6 = pd.DataFrame(test_data_6)

In [115]:
import pandas as pd
from sklearn.cluster import KMeans
inertia = []
for i in range(10):
    clustering = KMeans(n_clusters=3, init="random", n_init=1)
    clusters=clustering.fit_predict(test_data_6)
    inertia.append(clustering.inertia_)

inertia_selected_6 = min(inertia)
print('\nHasil clustering:\n', clusters)
print('\nSSE = :\n', inertia_selected_6)

Hasil clustering:
 [0 0 2 0 2 0 0 2 0 1 0 0 1 1 0 1 2 2 0 2 1 0 2 2 0 1 2 1 0 1 2 1 0 1 1 2 0
 2 0 2 1 0 1 1 1 1 2 0 2 0 2 1 0 2 0 1 0 1 2 0 0 0 2 2 1 2 1 0 2 2 2 2 0 0
 0 1 0 1 2 0 1 0 0 1 0 1 0 2 0 1 2 2 0 1 0 2 1 2 2 0 2 1 1 0 2 2 1 1 0 0 0
 0 2 0 0 0 0 2 0 1 1 0 0 2 2 1 0 0 0 1 1 2 2 2 0 2 2 1 0 0 2 0 2 2 0 0 0 0
 2 0 0 0 1 1 0 2 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 1 2 1 1 2 1 1 2 2 1 1 1 1 0
 0 2 2 1 1 1 1 1 0 2 1 0 2 0 0 2 0 0 0 0 2 0 1 1 2 2 0 2 0 0 0 1 0 1 0 0 0
 0 1 1 2 1 0 1 2 1 0 2 1 0 1 0 1 0 2 2 1 1 0 2 0 0 0 2 2 0 1 1 0 0 0 2 0 2
 1 0 2 2 0 0 0 0 2 1 2 2 0 2 2 0 2 1 0 1 2 2 1 1 0 0 0 0 0 2 0 0 2 0 2 2 1
 2 1 0 0 2 1 1 0 1 0 1 2 2 1 2 0 2 0 2 0 1 0 1 1 1 1 0 2 1 1 1 0 2 2 0 0 2
 0 0 0 0 2 0 0 0 0 0 0 0 1 0 1 0 2 0 2 0 0 1 2 2 0 2 0 2 0 1 1 1 1 0 1 2 2
 2 2 2 0 0 1 2 1 1 0 0 2 0 2 2 0 2 2 0 2 2 0 0 2 2 1 2 1 1 0 0 1 1 2 1 1 1
 1 1 1 1 2 2 0 2 0 1 0 2 0 1 2 1 2 2 1 0 0 0 0 1 0 2 0 2 0 2 2 0 2 2 2 1 1
 1 2 2 2 1 0 0 2 0 0 1 1 0 2 2 1 0 2 0 1 0 2 2 0 0 0 1 2 1 2 0 1 2 2 1 1 2
 2 2 0 0 0 0 0 2 2 0 0 0 0 2 2 0 2 2 0 2 1 2 0 1 2 1 0 2 1 0 2 0 1 0 1 0 0
 1 0 1 0 0 1 2 2 0 0 2 1 0 0 0 1 0 2 0 1 0 0 1 2 0 0 0 1 2 2 0 2 0 0 0 2 1
 2 1 0 2 1 0 2 0 2 1 0 0 0 2 0 0 2 2 2 0 0 0 2 1 2 2 2 0 2 2 1 0 0 0 2 1 0
 2 0 0 1 2 0 2 2 2 1 1 1 2 1 1 2 1 2 2 1 0 0 2 1 0 1 1 0 0 1 1 1 1 1 0 1 0
 1 0 2 2 0 0 1 2 2 0 2 0 2 1 0 1 2 2 0 1 2 2 1 2 0 1 0 1 0 0 2 2 0 2 1 2 0
 1 0 0 1 2 2 2 0 1 0 0 1 0 0 0 1 1 0 1 2 2 0 2 2 2 0 2 2 0 1 2 1 2 0 2 1 1
 2 1 1 0 1 2 2 1 2 2 1 0 1 0 0 0 1 1 2 2 2 2 1 2 2 1 2 2 1 1 0 0 2 0 2 0 0
 1 2 1 2 2 1 0 2 1 0 1 2 1 0 0 0 2 0 1 0 2 1 2 1 0 0 2 1 2 2 0 2 1 0 0 2 0
 2 2 2 1 2 0 2 2 2 0 1 1 2 2 1 0 1 1 1 1 0 0 0 0 1 2 2 2 2 1 1 0 2 1 2 1 2
 0 0 2 0 1 2 2 0 1 1 0 2 0 1 1 2 2 2 2 0 0 2 1 1 0 0 1 0 1 1 1 2 2 1 0 1 0
 2 2 2 0 0 1 2 2 0 1 0 0 1 2 0 2 2 0 2 0 0 2 2 2 2 0 0 1 0 0 1 0 0 2 2 2 0
 2 2 2 2 1 2 2 2 2 0 2 2 2 1 1 2 0 1 1 2 2 0 2 1 1 0 0 0 0 1 0 0 0 2 0 2 2
 0 2 2 2 2 0 0 1 0 1 0 0 1 0 2 0 0 2 2 0 0 2 1 2 2 0 2 0 1 2 2 1 0 0 0 0 1
 2 1 1 2 0 0 0 1 0 2 0 1 0 1 2 0 1 2 1 1 0 2 2 1 2 1 1 0 0 0 2 1 1 2 2 1 2
 0]

SSE = :
 44.037942109023795

7 fitur

In [ ]:
df_selected_features_7 = dataset_test[['battery_power','int_memory',	'mobile_wt',	'px_height',	'px_width',	'ram',	'sc_w']]
df_selected_features_7

     battery_power  int_memory  mobile_wt  px_height  px_width   ram  sc_w
0             1043           5        193        226      1412  3476     7
1              841          61        191        746       857  3895     0
2             1807          27        186       1270      1366  2396    10
3             1546          25         96        295      1752  3893     0
4             1434          49        108        749       810  1773     8
..             ...         ...        ...        ...       ...   ...   ...
995           1700          54        170        644       913  2121     8
996            609          13        186       1152      1632  1933     1
997           1185           8         80        477       825  1223     0
998           1533          50        171         38       832  2509    11
999           1270          35        140        457       608  2828     2

[1000 rows x 7 columns]

In [ ]:
test_data = np.array(df_selected_features_7)
newmin = 0
newmax = 1
mindata = test_data.min()
maxdata = test_data.max()
test_data_7 = ((test_data - mindata)*(newmax - newmin)/(maxdata - mindata)) + newmin
test_data_7= pd.DataFrame(test_data_7)

In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
inertia = []
for i in range(10):
    clustering = KMeans(n_clusters=3, init="random", n_init=1)
    clusters=clustering.fit_predict(test_data_7)
    inertia.append(clustering.inertia_)

inertia_selected_7 = min(inertia)
print('\nHasil clustering:\n', clusters)
print('\nSSE = :\n', inertia_selected_7)

Hasil clustering:
 [2 2 1 2 1 2 2 1 2 0 2 2 0 0 2 0 1 1 2 1 0 2 1 1 2 0 1 0 2 0 1 0 2 0 0 1 2
 1 2 1 0 2 0 0 0 0 1 2 1 2 1 0 2 1 2 0 2 0 1 2 2 2 1 1 0 1 0 2 1 1 1 1 2 2
 2 0 2 0 1 2 0 2 2 0 2 0 2 1 2 0 1 1 2 0 2 1 0 1 1 2 1 0 0 2 1 1 0 0 2 2 2
 2 1 2 2 2 2 1 2 0 0 2 2 1 1 0 2 2 2 0 0 1 1 1 2 1 1 0 2 2 1 2 1 1 2 2 2 2
 1 2 2 2 0 0 2 1 2 2 2 2 2 2 2 2 2 2 0 0 2 0 0 0 1 0 0 1 0 0 1 1 0 0 0 0 2
 2 1 1 0 0 0 0 0 2 1 0 2 1 2 2 1 2 2 2 2 1 2 0 0 1 1 2 1 2 2 2 0 2 0 2 2 2
 2 0 0 1 0 2 0 1 0 2 1 0 2 0 2 0 2 1 1 0 0 2 1 2 2 2 1 1 2 0 0 2 2 2 1 2 1
 0 2 1 1 2 2 2 2 1 0 1 1 2 1 1 2 1 0 2 0 1 1 0 0 2 2 2 2 2 1 2 2 1 2 1 1 0
 1 0 2 2 1 0 0 2 0 2 0 1 1 0 1 2 1 2 1 2 0 2 0 0 0 0 2 1 0 0 0 2 1 1 2 2 1
 2 2 2 2 1 2 2 2 2 2 2 2 0 2 0 2 1 2 1 2 2 0 1 1 2 1 2 1 2 0 0 0 0 2 0 1 1
 1 1 1 2 2 0 1 0 0 2 2 1 2 1 1 2 1 1 2 1 1 2 2 1 1 0 1 0 0 2 2 0 0 1 0 0 0
 0 0 0 0 1 1 2 1 2 0 2 1 2 0 1 0 1 1 0 2 2 2 2 0 2 1 2 1 2 1 1 2 1 1 1 0 0
 0 1 1 1 0 2 2 1 2 2 0 0 2 1 1 0 2 1 2 0 2 1 1 2 2 2 0 1 0 1 2 0 1 1 0 0 1
 1 1 2 2 2 2 2 1 1 2 2 2 2 1 1 2 1 1 2 1 0 1 2 0 1 0 2 1 0 2 1 2 0 2 0 2 2
 0 2 0 2 2 0 1 1 2 2 1 0 2 2 2 0 2 1 2 0 2 2 0 1 2 2 2 0 1 1 2 1 2 2 2 1 0
 1 0 2 1 0 2 1 2 1 0 2 2 2 1 2 2 1 1 1 2 2 2 1 0 1 1 1 2 1 1 0 2 2 2 1 0 2
 1 2 2 0 1 2 1 1 1 0 0 0 1 0 0 1 0 1 1 0 2 2 1 0 2 0 0 2 2 0 0 0 0 0 2 0 2
 0 2 1 1 2 2 0 1 1 2 1 2 1 0 2 0 1 1 2 0 1 1 0 1 2 0 2 0 2 2 1 1 2 1 0 1 2
 0 2 2 0 1 1 1 2 0 2 2 0 2 2 2 0 0 2 0 1 1 2 1 1 1 2 1 1 2 0 1 0 1 2 1 0 0
 1 0 0 2 0 1 1 0 1 1 0 2 0 2 2 2 0 0 1 1 1 1 0 1 1 0 1 1 0 0 2 2 1 2 1 2 2
 0 1 0 1 1 0 2 1 0 2 0 1 0 2 2 2 1 2 0 2 1 0 1 0 2 2 1 0 1 1 2 1 0 2 2 1 2
 1 1 1 0 1 2 1 1 1 2 0 0 1 1 0 2 0 0 0 0 2 2 2 2 0 1 1 1 1 0 0 2 1 0 1 0 1
 2 2 1 2 0 1 1 2 0 0 2 1 2 0 0 1 1 1 1 2 2 1 0 0 2 2 0 2 0 0 0 1 1 0 2 0 2
 1 1 1 2 2 0 1 1 2 0 2 2 0 1 2 1 1 2 1 2 2 1 1 1 1 2 2 0 2 2 0 2 2 1 1 1 2
 1 1 1 1 0 1 1 1 1 2 1 1 1 0 0 1 2 0 0 1 1 2 1 0 0 2 2 2 2 0 2 2 2 1 2 1 1
 2 1 1 1 1 2 2 0 2 0 2 2 0 2 1 2 2 1 1 2 2 1 0 1 1 2 1 2 0 1 1 0 2 2 2 2 0
 1 0 0 1 2 2 2 0 2 1 2 0 2 0 1 2 0 1 0 0 2 1 1 0 1 0 0 2 2 2 1 0 0 1 1 0 1
 2]

SSE = :
 44.03906859265266